body{
	background:black;
	margin:0px
	
}

.hero {
	background:white;
  width: auto;
	margin:0px;
	padding:0px;
  height: 249px; /* Set the height of the container */
  overflow: hidden; /* Clip the image to fit inside the container */
   display:grid;
	grid-template-columns:2fr 1fr;
	gap:20px;
	
}

.hero img {
  width: 100%;
  object-fit: cover; /* Scale the image to fill the container */
}
.inside{
	
	padding:0px;
	margin:20px;
	 align-self: center;
	
}
h1{
	
    font-size:20px;
}
p{
	 font-size:10px;
	
	
}
button{
 color:yellow;
	 background-color:red;
	color:white;
	font-size:8px;
	border:none;
	width:65px;
	margin-left:30px;

   
}
